.app-container {
    display: flex;
}

.content {
    width: 100%;
}

.sidebar {
    min-height: 100vh;
}

.post-card {
    margin: 20px 50px;
    width: 70vh;
}

.reaction {
    margin-top: 10px;
}

.create-post {
    width: 80%;
    margin-left: 6%;
    margin-top: 4%;
}

.welcome-message {
    margin: 100px;
}
